
.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px;
  margin: 30px 15px;
  background-color: aliceblue;
  top: 2rem;
}

.header-text {
  max-width: 500px;
}

.header-image {
  max-width: 500px;
  height: auto;
}

.cta-button1,
    .cta-button2 {
        gap: 2rem;
        padding: 10px 20px; /* Adjust padding as needed */
        border: none;
        color: white;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .cta-button1 {
        background-color: #3498db; /* Set background color for the first button */
    }

    .cta-button2 {
        background-color: #e74c3c; /* Set background color for the second button */
    }
