<!-- Hero Section -->
    <div class="header-section">
        <div class="header-text">
            <h1>Find your Dream Art-Piece with the Best Deal Offers</h1>
            <p>Buying & Selling Made easy with access to full coverage from Art Dealers and Curators</p>
            <button class="cta-button1">Browse Art</button>
            <button class="cta-button2">Join Auction</button>
        </div>
        <img src="../../../assets/Images/Rectangle.png" alt="Hero Image" class="hero-image">
    </div>
