<!-- Hero Section -->
<div class="header-section">
    <div class="header-text">
      <h1 class="display-1 display-font-weight-300">Find your Dream Art-Piece with the Best Deal Offers</h1>
      <p>Buying & Selling Made easy with access to full coverage from Art Dealers and Curators</p>
      <div class="d-flex align-items-start">
        <button class="cta-button1 btn btn-primary me-2">Browse Art</button>
        <button class="cta-button2 btn btn-success">Join Auction</button>
      </div>
    </div>
    <img src="../../../assets/Images/Rectangle.png" alt="Hero Image" class="hero-image img-fluid">
</div>
