<div class="bidding-page">
  <h1>Bidding Details</h1>
<div class="container">
  <div class="row">
    <div class="col-6 d-flex align-items-left">
      <img src="../../../assets/Images/Rectangle.png" class="img-fluid" width="600">
    </div>
  </div>
  <div class="art-piece col-6">
    <div class="art-details">
      <h2>MASTERPIECE SALE - BY ARTTIE</h2>
      <h2>21ST FEBRUARY - 20TH MARCH 2024</h2>
      <h3>ABOUT THE ART PIECE</h3>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum odit doloribus maxime nisi nostrum omnis illum, rem reiciendis autem aperiam enim vel, vero accusamus reprehenderit repellendus aliquid tempore rerum explicabo.</p>
    </div>
    <div class="box-area">
      <p>Artist Name:<span>Johanes Veemer</span></p>
      <p>Year:<span>1661</span></p>
      <p>Current Bid:<span>$7000</span></p>
      <p>Estimate Bid:<span>$9000 - $15000</span></p>
      <input type="text" name="bidder" id="bidds" placeholder="Enter your bid here..."><br/>
      <button class="place-bid-btn" (click)="placeBid(item)">Place Bid</button>
      <p>Payment is done using <i>Stripe</i></p>
    </div>
  </div>
</div>
</div>
