.nav-link{
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
  margin: 30px 15px;
}

.links
{
  /* justify-content: space-between; */
  align-items: center;
  /* position: relative; */
  /* left: 10rem; */
  /* bottom: 2rem; */
}

.links span{
  padding: 0.5rem;
}

.nav{
  display: flex;
  position: relative;
  /* right: 30rem; */
}

.right{
  /* position: relative; */
  /* left: 30rem; */
  /* bottom: 2rem; */
}

.nav:hover {
  cursor: pointer;
}
